<div class="container">
  <div class="single list-post">
    <figure>
      <img src="../../assets/img/banner-hackathon-fiap.jpg" alt="" />
      <div class="day">
        <strong>15</strong>
        <span>Jan</span>
      </div>
    </figure>

    <h2>Hackathon da FIAP em parceria com a everis Brasil.</h2>
    <div class="coins top-minus">
      <span><img src="../../assets/img/Multi.png" alt="">  1.500</span>
      <span><img src="../../assets/img/Gold.png" alt="">  145</span>
    </div>
    <br>

    <p>Em sua primeira edição no Brasil, o evento irá reunir estudantes, programadores, designers e outros profissionais ligados ao mundo digital para, juntos, desenvolverem soluções inovadoras para o Grupo e suas marcas.</p>
    <p>Para participar não é necessário conhecimento prévio sobre os nossos negócios. A ideia é que este encontro proporcione uma experiência intensiva em inovação, em que você vai desenvolver suas habilidades e utilizar as ferramentas necessárias para propor as melhores soluções aos desafios apresentados por nossas empresas.</p>
    <p>Desafio</p>
    <p>O Evento tem por finalidade a idealização de potenciais soluções para 10 (dez) desafios propostos pela Empresa, sendo que cada um corresponderá a cada marca das empresas e negócios do grupo SaintGobain participantes do Evento (Saint-Gobain, Saint-Gobain - Abrasivos, Saint-Gobain - Brasilit, Cebrace, SaintGobain Canalização, Saint-Gobain - Isover, Placo, Saint-Gobain - Plásticos de Performance, Telhanorte e Saint-Gobain - Weber quartzolit). As potenciais soluções deverão ter como</p> <p>objetivo a melhoria da experiência dos clientes ou usuários finais. Este processo envolve desde a ideia até a prototipação do produto, se for caso, durante o Evento. </p>

    <p>Premiação</p>
    <p> 1° Cada integrante será premiado com uma viagem para Paris (França), onde irão participar do primeiro Hackathon mundial da Saint-Gobain. Está incluso aéreo, hotel, translado e refeição. Há também a possibilidade de desenvolverem suas melhores ideias em conjunto com as empresas da Saint-Gobain e estreitarem o relacionamento com os nossos profissionais. Também irão conhecer o primeiro centro transversal de Pesquisa e Desenvolvimento do Grupo no Hemisfério Sul, localizado em</p> <p>Capivari/SP, com transporte e alimentação inclusos.</p>
    <p> 2° Cada integrante receberá 01 Apple Watch de 38 mm e/ou 01 Samsung Gear. Há também a possibilidade de desenvolverem suas melhores ideias em conjunto com as empresas da Saint-Gobain e estreitarem o relacionamento com os nossos profissionais. Também irão conhecer o primeiro centro transversal de Pesquisa e Desenvolvimento do Grupo no Hemisfério Sul, localizado em Capivari/SP, com transporte e alimentação inclusos.</p>
    <p> 3° Cada integrante receberá um Gift Card no valor de R$ 1.000,00. Há também a possibilidade de desenvolverem suas melhores ideias em conjunto com as empresas da Saint-Gobain e estreitarem o relacionamento com os nossos profissionais. Também irão conhecer o primeiro centro transversal de Pesquisa e Desenvolvimento do Grupo no Hemisfério Sul, localizado em Capivari/SP, com transporte e alimentação inclusos.</p>
    <br>
    <br>

    <div class="row">
      <div class="col-md-12 btnHackathon">
        <a href="javascript:void(0)" class="btn-action green openModal full">PARTICIPAR DO HACKATHON</a>
      </div>
    </div>
    <br>
    <div class="visitantes pull-left">
      <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
    </div>
  </div>
  <section class="listagem">
    <h2>Hackathons Relacionados</h2>
    <ul class="list-post">
      <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-hackathon-fiap.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>

        <h3>Hackathon da FIAP em parceria com a everis Brasil.</h3>
        <p>O tema do desafio lançado aos alunos é: “Colaboração para potencializar a inovação no ecossistema da indústria...</p>

        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-hackathon-uol.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>O UOL HOST te desafia a mudar a vida do empreendedor digital brasileiro!</h3>
        <p>Você vai criar ferramentas que ajudarão este empreendedor a crescer ainda mais e aproveitar as facilidades do mundo...</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-hackathon-saint.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>A Saint-Gobain está inovando com o Hackathon!</h3>
        <p>Em sua primeira edição no Brasil, o evento irá reunir estudantes, programadores, designers e outros profissionais ligados ao mundo...</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
    </ul>
  </section>
</div>

<!-- Modal -->
<div class="nosso-overlay"></div>
<div class="modal">
  <div class="modal-dialog" role="document">
    <div id="confirmar-participar" class="show modal-content">
      <div class="modal-header">
        <h3 class="text-green text-center">CONFIRMAR PARTICIPAÇÃO</h3>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Deseja confirmar a participação do Hackathon <br>
                HACKATHON DA FIAP EM PARCERIA COM A EVERIS BRASIL?</h3>
            </div>
          </div>
          <div class="row divider">
            <div class="line"></div>
          </div>
          <div class="row">
            <div class="col-md-12 flex-row">
              <div class="coins pull-right">
                <a id="btn-confirmar" href="javascript:void(0)" class="btn-action green pull-left">
                  <span><i class="fa fa-check" aria-hidden="true"></i> CONFIRMAR</span>
                </a>
                <a id="btn-cancelar" href="javascript:void(0)" class="btn-action red pull-left">
                  <span><i class="fa fa-times" aria-hidden="true"></i> CANCELAR</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="participacao-concluida" class="modal-content">
      <div class="modal-header">
        <h3 class="text-green text-center">CONCLUÍDO</h3>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Parabéns! Você já está participando.</h3>
            </div>
          </div>
          <div class="row divider">
            <div class="line"></div>
          </div>
          <div class="row">
            <div class="col-md-12 flex-row">
              <div class="coins pull-right">
                <a href="javascript:void(0)" class="btn-fechar btn-action green pull-left">
                  <span><i class="fa fa-times" aria-hidden="true"></i> FECHAR</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
