<footer>
  <div class="navegacao">
    <div class="container">
      <a href="#" class="logo">
        <img src="../../assets/img/logo.png" alt="">
      </a>

      <nav>
        <ul class="menu">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/hackathons']">Hackathons</a></li>
          <!-- <li><a id="item-shopping" [routerLink]="['/shopping']">Shopping</a></li> -->
          <li><a [routerLink]="['/blog']">Blog</a></li>
          <li><a [routerLink]="['/contato']">Contato</a></li>
        </ul>
      </nav>

      <ul class="redes-sociais">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div id="assinatura">
      <span>© 2017</span>
    </div>
  </div>

  <img src="../../assets/img/go-top.png" id="go-top">
</footer>
