<div class="container">
  <div class="perfil row">
    <div class="col-md-4">
      <figure>
        <img src="../../assets/img/user.jpg" alt="" />
        <div class="hp">
          <strong><i class="fa fa-bolt" aria-hidden="true"></i> 12000</strong>
        </div>
      </figure>
    </div>
    <div class="col-md-8">
      <h2>Everton Strack</h2>
      <div class="coins">
        <!-- <span><i class="fa fa-money" aria-hidden="true"></i> 1.500$</span>
        <span class="btn-hover openModal"><i class="fa fa-diamond" aria-hidden="true"></i> 887$</span> -->
        <span><img src="../../assets/img/Multi.png" alt=""> 1.500$</span>
        <span class="btn-hover openModal"><img src="../../assets/img/Gold.png" alt=""> 887$</span>
      </div>
      <p>Meu nome é Everton Strack , mas todos me chamam de Thom. Tenho 29 anos, moro em São Leopoldo, Rio Grande do Sul e trabalho como Desenvolvedor Front-end desde 2008.</p>
      <p>Atualmente trabalho como desenvolvedor front-end freelancer. Já trabalhei em empresas como Brivia, E-Storage, W3Haus e Huia. Desenvolvi e participei de vários projetos legais, alguns deles estão aqui no meu portfolio de desenvolvedor front-end. Seja Bem vindo!.</p>
      <p>Sou estudante de Design e estou sempre conectado à novas tendências tecnológicas e inovadoras. Os 8 anos de experiência na área de front-end e pelo menos o dobro em paixão por tecnologia, resultam em um trabalho entregue com rapidez e competência. Buscando atender da melhor forma a proposta (e os sonhos) do cliente. Isso quer dizer que faço HTML, CSS e Javascript da melhor forma possível, utilizando as novas tecnologias do HTML5 e CSS3.</p>
      <div class="conquistas">
        <span><i class="fa fa-trophy ouro" aria-hidden="true"></i> 2</span>
        <span><i class="fa fa-trophy prata" aria-hidden="true"></i> 5</span>
        <span><i class="fa fa-trophy bronze" aria-hidden="true"></i> 9</span>
      </div>
    </div>
  </div>
  <section class="listagem">
    <div class="row">
      <h2>Hackathons Participados</h2>
      <ul class="list-post">
        <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-hackathon-fiap.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>

          <h3>Hackathon da FIAP em parceria com a everis Brasil.</h3>
          <p>O tema do desafio lançado aos alunos é: “Colaboração para potencializar a inovação no ecossistema da indústria...</p>

          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
        <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-hackathon-uol.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>
          <h3>O UOL HOST te desafia a mudar a vida do empreendedor digital brasileiro!</h3>
          <p>Você vai criar ferramentas que ajudarão este empreendedor a crescer ainda mais e aproveitar as facilidades do mundo...</p>
          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
        <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-hackathon-saint.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>
          <h3>A Saint-Gobain está inovando com o Hackathon!</h3>
          <p>Em sua primeira edição no Brasil, o evento irá reunir estudantes, programadores, designers e outros profissionais ligados ao mundo...</p>
          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
      </ul>
    </div>
    <h2>Cursos adquiridos</h2>
    <ul class="list-post">
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>INTERNET DAS COISAS PARA TODOS</h3>
        <p>Se você já ouviu falar em Internet das Coisas e não sabe ainda como aproveitar as infinitas oportunidades de negócios nos próximos anos, este workshop...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-design-thinking.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Design Thinking</h3>
        <p>Desenvolver um processo intencional com metodologias para se chegar ao novo, a soluções criativas, criar impactos positivos e surpreender. Design...</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-big-data.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Big Data</h3>
        <p>No universo emergente de tecnologias relacionadas ao Big Data, destaca-se um novo papel de extrema relevância: o cientista de dados (Data Scientist).</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
    </ul>
  </section>
</div>

<!-- Modal -->
<div class="nosso-overlay"></div>
<div class="modal">
  <div class="modal-dialog" role="document">
    <div id="lisgatem-moedas" class="show modal-content">
      <div class="modal-header">
        <h3 class="text-green text-center">SUAS GOLD COINS</h3>
        <div class="pull-right totalCoins">
          <img src="../../assets/img/Gold.png" alt="">
          <span class="text-green">887$</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row">
            <div class="col-md-12">
              <ul id="lista-gold_coins">
                <li>
                  <img src="../../assets/img/Gold.png" alt="">
                  FIAP - <span class="text-green">145$</span>
                </li>
                <li>
                  <img src="../../assets/img/Gold.png" alt="">
                  UOL - <span class="text-green">340$</span>
                </li>
                <li>
                  <img src="../../assets/img/Gold.png" alt="">
                  Saint-gobain - <span class="text-green">100$</span>
                </li>
                <li>
                  <img src="../../assets/img/Gold.png" alt="">
                  Seepix - <span class="text-green">302$</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
