<div class="container">
  <div class="single list-post">
    <figure>
      <img src="../../assets/img/banner-post-hackathon.jpg" alt="" />
      <div class="day">
        <strong>15</strong>
        <span>Jan</span>
      </div>
    </figure>

    <h2>O que é Hackathon?</h2>
    <br>

    <p>Hackathon é um evento que reúne programadores, designers e outros profissionais ligados ao desenvolvimento de software para uma maratona de programação, cujo objetivo é desenvolver um software que atenda a um fim específico ou projetos livres que sejam inovadores e utilizáveis. A maratona pode durar entre um dia ou uma semana.</p>
    <p>Nesses eventos, os participantes têm a oportunidade de concorrer a prêmios, conhecer outros profissionais da área, fazer Networking, participar de um projeto colaborativo em um ambiente específico de programação.</p>
    <br>
    <br>
    <br>
    <br>
    <img src="../../assets/img/hackathon-em-acao.jpg" alt="">
    <br>
    <br>
    <br>
    <p>A Multi trás em sua plataforma essa comunicação entre usuários que tem interesse de participar de desafios propostos por grandes empresas dentro do mercado de inovação e tecnologia.</p>
    <p>Dentro da plataforma os participantes iram receber algumas recompensas a cada conclusão de certas etapas e ficando entre o 3 primeiros colocados em cada desafio realizado. Uma destas recompensas será Gold Coins, que poderão ser usadas para ganhar descontos em cursos de instituições de ensino parceiras, ganhará também medalhas de ouro, prata e bronze caso fique entre os 3 primeiros colocados em um desafio, e experiência, que também será ganha concluindo etapas, participando de desafios e ficando bem colocado neles. Mas caso fique entre os 3 primeiros colocados, o prêmio em Gold Coins, que será em grande quantidade, só poderá ser resgatado caso ele tenha um plano premium. O resumo de seu desempenho nos desafios também só ficará disponível para consulta por empresas no plano pago.</p>

    <div class="visitantes">
      <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
      <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
    </div>
  </div>
  <section class="listagem">
    <h2>Postagens Relacionadas</h2>
    <ul class="list-post">
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-post-hackathon.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>O que é Hackathon?</h3>
        <p>Hackathon é um evento que reúne programadores, designers e outros profissionais ligados ao desenvolvimento de software para uma maratona...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-ambev.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Na competição, a Ambev desafia jovens a criar soluções para...</h3>
        <p>Encontrar novas soluções para melhorar a experiência de consumidores de cerveja é o desafio da terceira...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-jam.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Experiance JAM II – A segunda edição do hackathon da Serasa Experian</h3>
        <p>A Serasa Experian, em parceria com a Simplez, vai realizar a 2ª edição do...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
    </ul>
  </section>
</div>
