<div class="listagem">
  <div class="container">
    <h1 class="title">Blog</h1>
    <h2 class="sub-title">Conheça mais sobre o mundo de hackathons</h2>

    <ul class="list-post">
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-post-hackathon.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>O que é Hackathon?</h3>
        <p>Hackathon é um evento que reúne programadores, designers e outros profissionais ligados ao desenvolvimento de software para uma maratona...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-ambev.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Na competição, a Ambev desafia jovens a criar soluções para...</h3>
        <p>Encontrar novas soluções para melhorar a experiência de consumidores de cerveja é o desafio da terceira...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
      <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-jam.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Experiance JAM II – A segunda edição do hackathon da Serasa Experian</h3>
        <p>A Serasa Experian, em parceria com a Simplez, vai realizar a 2ª edição do...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
        </div>
      </li>
    </ul>
  </div>
</div>
