<div class="listagem">
  <div class="container">
    <h1 class="title">Hackathons</h1>
    <h2 class="sub-title">Conheça mais sobre o mundo de hackathons</h2>

    <ul class="list-post">
      <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-hackathon-fiap.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>

        <h3>Hackathon da FIAP em parceria com a everis Brasil.</h3>
        <p>O tema do desafio lançado aos alunos é: “Colaboração para potencializar a inovação no ecossistema da indústria...</p>

        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-hackathon-uol.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>O UOL HOST te desafia a mudar a vida do empreendedor digital brasileiro!</h3>
        <p>Você vai criar ferramentas que ajudarão este empreendedor a crescer ainda mais e aproveitar as facilidades do mundo...</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-hackathon-saint.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>A Saint-Gobain está inovando com o Hackathon!</h3>
        <p>Em sua primeira edição no Brasil, o evento irá reunir estudantes, programadores, designers e outros profissionais ligados ao mundo...</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
    </ul>
  </div>
</div>
