<div class="container">
  <div class="perfil row">
    <div class="col-md-4">
      <figure>
        <img src="../../assets/img/logo_fiap.jpg" alt="" />
      </figure>
    </div>
    <div class="col-md-8">
      <h2>FIAP</h2>
      <p>A FIAP é o centro de excelência em tecnologia mais respeitado do país. Uma história que vem sendo construída dia após dia, estimulando mentes a vivenciarem a inovação e o empreendedorismo. Porque a FIAP acredita no poder transformador da tecnologia. Um poder que, aliado à criatividade, inventa, muda, inquieta. Faz as pessoas buscarem soluções que nunca foram pensadas. Tudo isso para construir um mundo melhor.</p>
    </div>
  </div>
  <section class="listagem">
    <div class="row">
      <h2>Hackathons criados</h2>
      <ul class="list-post">
        <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-hackathon-fiap.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>

          <h3>Hackathon da FIAP em parceria com a everis Brasil.</h3>
          <p>O tema do desafio lançado aos alunos é: “Colaboração para potencializar a inovação no ecossistema da indústria...</p>

          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
        <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-hackathon-uol.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>
          <h3>O UOL HOST te desafia a mudar a vida do empreendedor digital brasileiro!</h3>
          <p>Você vai criar ferramentas que ajudarão este empreendedor a crescer ainda mais e aproveitar as facilidades do mundo...</p>
          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
        <li [routerLink]="['/hackathons/hackathon-da-fiap-em-parceria-com-a-everis-brasil']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-hackathon-saint.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>
          <h3>A Saint-Gobain está inovando com o Hackathon!</h3>
          <p>Em sua primeira edição no Brasil, o evento irá reunir estudantes, programadores, designers e outros profissionais ligados ao mundo...</p>
          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <h2>Cursos disponibilizados</h2>
      <ul class="list-post">
        <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-curso.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>
          <h3>INTERNET DAS COISAS PARA TODOS</h3>
          <p>Se você já ouviu falar em Internet das Coisas e não sabe ainda como aproveitar as infinitas oportunidades de negócios nos próximos anos, este workshop...</p>
          <div class="visitantes">
            <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
          </div>
        </li>
        <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-curso-design-thinking.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>
          <h3>Design Thinking</h3>
          <p>Desenvolver um processo intencional com metodologias para se chegar ao novo, a soluções criativas, criar impactos positivos e surpreender. Design...</p>
          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
        <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
          <figure>
            <img src="../../assets/img/banner-curso-big-data.jpg" alt="" />
            <div class="day">
              <strong>15</strong>
              <span>Jan</span>
            </div>
          </figure>
          <h3>Big Data</h3>
          <p>No universo emergente de tecnologias relacionadas ao Big Data, destaca-se um novo papel de extrema relevância: o cientista de dados (Data Scientist).</p>
          <div class="visitantes">
            <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
