<div class="container">
  <div class="single list-post">
    <figure>
      <img src="../../assets/img/banner-curso.jpg" alt="" />
      <div class="day">
        <strong>15</strong>
        <span>Jan</span>
      </div>
    </figure>

    <h2 class="pull-left">INTERNET DAS COISAS PARA TODOS</h2>
    <a href="javascript:void(0)" class="btn-action green pull-right btn-single-action openModal">ADQUIRIR DESCONTO</a>
    <br>
    <br>
    <br>
    <p>Se você já ouviu falar em Internet das Coisas e não sabe ainda como aproveitar as infinitas oportunidades de negócios nos próximos anos, este workshop é para você. Internet das Coisas irá impactar profundamente todos os setores da Economia e diversas profissões nas próximas décadas. Já em 2020 teremos mais de 50 bilhões de dispositivos conectados e um potencial do mercado atingir US$ 19 trilhões em todo o planeta.</p>
    <p>Nosso propósito é democratizar Internet das Coisas a profissionais de todas as áreas de duas formas, gerando oportunidades para profissionais e organizações de todos os setores:</p>
    <p>Oferecendo uma visão ampla das inovações tecnológicas que estão ocorrendo nesse momento e das que estão por vir.</p>
    <p>Inspirando e possibilitando os participantes a cocriar serviços e experiências relacionadas a um futuro melhor para cada indivíduo, organizações e a sociedade como um todo.</p>
    <br>    <p><b>QUEM VAI GOSTAR?</b></p>
    <p>Profissionais e estudantes de todas as áreas com ou sem conhecimento prévio sobre Internet das Coisas são muito bem-vindos: administradores, consultores de negócios, designers, economistas, educadores físicos, empreendedores, engenheiros, médicos, professores, programadores, psicólogos, publicitários entre outros interessados.</p>

    <br>
    <img src="../../assets/img/shift.jpg" alt="">
    <br>
    <br>

    <div class="visitantes">
      <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
    </div>
  </div>
  <section class="listagem">
    <h2>Cursos Relacionados</h2>
    <ul class="list-post">
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>INTERNET DAS COISAS PARA TODOS</h3>
        <p>Se você já ouviu falar em Internet das Coisas e não sabe ainda como aproveitar as infinitas oportunidades de negócios nos próximos anos, este workshop...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-design-thinking.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Design Thinking</h3>
        <p>Desenvolver um processo intencional com metodologias para se chegar ao novo, a soluções criativas, criar impactos positivos e surpreender. Design...</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-big-data.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Big Data</h3>
        <p>No universo emergente de tecnologias relacionadas ao Big Data, destaca-se um novo papel de extrema relevância: o cientista de dados (Data Scientist).</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
    </ul>
  </section>
</div>

<!-- Modal -->
<div class="nosso-overlay"></div>
<div class="modal">
  <div class="modal-dialog" role="document">
    <div id="efetuar-compra" class="show modal-content">
      <div class="modal-header">
        <h3 class="text-green text-center">EFETUAR COMPRA DO CURSO</h3>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row info-course">
            <div class="col-md-3">
              <figure>
                <img src="../../assets/img/logo-faculdade.jpg" alt="" />
              </figure>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12">
                  <h2>SHIFT - INTERNET DAS COISAS PARA TODOS</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="coins pull-right">
                    <a href="javascript:void(0)" class="btn-action green pull-left">
                      <span id="btngoldcoin" data-coin="100"><img src="../../assets/img/Gold.png" alt=""> 100$</span>
                    </a>
                    <a href="javascript:void(0)" class="btn-action gray pull-left">
                      <span id="btnmultcoin" data-coin="1500"><img src="../../assets/img/Multi.png" alt=""> 1500$</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row divider">
            <div class="line"></div>
          </div>
          <div class="row info-user">
            <div class="col-md-12 flex-row">
              <figure>
                <img src="../../assets/img/user.jpg" alt="" />
              </figure>
              <div class="coins">
                <span id="user-gold_coins"><img src="../../assets/img/Gold.png" alt=""> 145$</span>
                <span id="user-multi_coins"><img src="../../assets/img/Multi.png" alt=""> 1500$</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="confirmar-compra" class="modal-content">
      <div class="modal-header">
        <h3 class="text-green text-center">CONFIRMAR COMPRA</h3>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row">
            <div class="col-md-12">
              <h3>Deseja confirmar a compra do curso?</h3>
            </div>
          </div>
          <div class="row divider">
            <div class="line"></div>
          </div>
          <div class="row">
            <div class="col-md-12 flex-row">
              <div class="coins pull-right">
                <a id="btn-confirmar" href="javascript:void(0)" class="btn-action green pull-left">
                  <span><i class="fa fa-check" aria-hidden="true"></i> CONFIRMAR</span>
                </a>
                <a id="btn-cancelar" href="javascript:void(0)" class="btn-action red pull-left">
                  <span><i class="fa fa-times" aria-hidden="true"></i> CANCELAR</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="compra-efetuada" class="modal-content">
      <div class="modal-header">
        <h3 class="text-green text-center">COMPRA EFETUADA</h3>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row">
            <div class="col-md-12">
              <h3>Parabéns! Você ganhou 30% no curso SHIFT - INTERNET DAS COISAS PARA TODOS. Use o cupom <span class="text-green">CFG67</span> na hora da sua compra do curso para ativar seu desconto!</h3>
            </div>
          </div>
          <div class="row divider">
            <div class="line"></div>
          </div>
          <div class="row">
            <div class="col-md-12 flex-row">
              <div class="coins pull-right">
                <a href="javascript:void(0)" class="btn-fechar btn-action green pull-left">
                  <span><i class="fa fa-times" aria-hidden="true"></i> FECHAR</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="erro" class="modal-content">
      <div class="modal-header">
        <h3 class="text-red text-center">ERRO</h3>
      </div>
      <div class="modal-body">
        <div class="info-modal">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">Infelizmente você não tem moedas suficientes para comprar este curso.</h3>
            </div>
          </div>
          <div class="row divider">
            <div class="line"></div>
          </div>
          <div class="row">
            <div class="col-md-12 flex-row">
              <div class="coins pull-right">
                <a href="javascript:void(0)" class="btn-fechar btn-action red pull-left">
                  <span><i class="fa fa-times" aria-hidden="true"></i> FECHAR</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
