<main>
  <section id="destaque">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div id="destaque-content">
            <h1>
              Multi
              <span id="indent">Talentos</span>
            </h1>
            <h2>Uma plataforma de<br>hackathons e desafios</h2>
            <!-- <a href="#" class="btn-action red">CRIAR CONTA</a> -->
          </div>
        </div>
        <div class="col-sm-7">
          <div id="destaque-arte">
            <img src="../../assets/img/destaque-arte.png">
          </div>
        </div>
      </div>
    </div>

    <img id="waves" src="../../assets/img/waves.png">
  </section>

  <section id="descricao-hackathon">
    <div class="container">
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-7">
          <h2>O QUE É<br>HACKATHON?</h2>
          <p>O Hackathon iniciou-se como um evento que reúne programadores, designers e outros profissionais ligados ao desenvolvimento de software para uma maratona de programação, com um fim específico ou projetos livres que sejam inovadores e utilizáveis. </p>
          <p>Atualmente, não somente por projetos idealizados especificamente por pessoas da área de programação é constituída uma Hackathon. Conforme  a prática foi se popularizando e trazendo resultados excelentes para as empresas, outras áreas foram adotando essa cultura de realizar maratonas.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="propositos">
    <div class="container">
      <div class="secao-motivos">
        <h2>Por que realizar um Hackathon?</h2>
        <div id="motivos-realizar" class="">
          <div class="row">
            <div class="col-sm-4">
              <div class="item">
                <div class="item-media">
                  <img src="../../assets/img/icone-desafio.png" alt="">
                </div>
                <div class="item-content">
                  <h3>Desafio</h3>
                  <p>Se você tem um desafio seja na sua empresa ou na sua cidade, precisará resolvê-lo com urgência, um Hackathon pode ser o que você precisa.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item">
                <div class="item-media">
                  <img src="../../assets/img/icone-solucao.png" alt="">
                </div>
                <div class="item-content">
                  <h3>Solução</h3>
                  <p>Através de um hackathon, é possível reunir profissionais de áreas distintas para o desenvolvimento de uma ideia ou produto para solucionar e inovar um desafio ou problema  interno.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item">
                <div class="item-media">
                  <img src="../../assets/img/icone-diversidade.png" alt="">
                </div>
                <div class="item-content">
                  <h3>Diversidade</h3>
                  <p>As soluções são criadas por pessoas diferentes, com isso se uma gama maior de propostas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="secao-motivos">
        <h2>Por que participar de um Hackathon?</h2>
        <div id="motivos-participar">
          <div id="oportunidade-profissional" class="row left">
            <div class="col-sm-6">
              <img src="../../assets/img/arte-oportunidade-profissional.png" class="arte-motivo">
            </div>
            <div class="col-sm-6">
              <div class="participar-content">
                <span class="circle"></span>
                <h3>OPORTUNIDADE PROFISSIONAL</h3>
                <p>Você pode mostrar suas habilidades e criatividade para grandes empresas que, no fim das contas, pode acabar te contratando ou utilizando seus serviços de alguma forma.</p>
              </div>
            </div>
          </div>
          <div id="inovacao-aberta" class="row right">
            <div class="col-sm-6">
              <div class="participar-content">
                <span class="circle"></span>
                <h3>APRENDER COM INOVAÇÃO ABERTA</h3>
                <p>A inovação não está mais restrita aos departamentos de pesquisa e desenvolvimento das empresas. As organizações estão abrindo os olhos para as soluções geradas pelas comunidade, mercado e academia. Um Hackathon é uma oportunidade para os estudantes vivenciarem esse processo.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <img src="../../assets/img/arte-inovacao.png" class="arte-motivo">
            </div>
          </div>
          <div id="trabalhar-em-equipe" class="row left">
            <div class="col-sm-6">
              <img src="../../assets/img/arte-trabalhar.png" class="arte-motivo">
            </div>
            <div class="col-sm-6">
              <div class="participar-content">
                <span class="circle"></span>
                <h3>APRENDER A TRABALHAR EM EQUIPE</h3>
                <p>Um Hackathon simula a realidadedas empresas, onde profissionais de áreas complementares se unem para a realização de um mesmo projeto. Você tem duas alternativas: ou aceita a equipe e tenta dar o melhor de si para juntos, alcançarem o melhor resultado, ou está fora.</p>
              </div>
            </div>
          </div>
          <div id="premiacao" class="row right">
            <div class="col-sm-6">
              <div class="participar-content">
                <span class="circle"></span>
                <h3>PREMIAÇÃO</h3>
                <p>Em quase todos os eventos, os prêmios vão de viagens internacionais, smartphones, ingressos para shows e eventos a vale compras. Só por isso, já valeria a pena o esforço.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <img src="../../assets/img/arte-premiacao.png" class="arte-motivo">
            </div>
          </div>
          <div id="aproximacao-com-mercado" class="row left">
            <div class="col-sm-6">
              <img src="../../assets/img/arte-mercado.png" class="arte-motivo">
            </div>
            <div class="col-sm-6">
              <div class="participar-content">
                <span class="circle"></span>
                <h3>APROXIMAÇÃO COM O MERCADO</h3>
                <p>O Hackathon geralmente atrai profissionais do setor em estudo e investidores ávidos por ideias brilhantes. Essas ideias podem ser as suas.</p>
              </div>
            </div>
          </div>
          <div id="diversao" class="row right">
            <div class="col-sm-6">
              <div class="participar-content">
                <span class="circle"></span>
                <h3>DIVERSÃO</h3>
                <p>Sim, o Hackathon é divertido, por acontece de forma "gamificada", num ambiente de descontração, onde os participantes - acredite - nem sentem a hora passar.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <img src="../../assets/img/arte-diversao.png" class="arte-motivo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gamificacao">
    <div class="container">
      <h2>Gamificação</h2>
      <p>Recompensas pelo desempenho e interação com a plataforma.</p>

      <div id="gamificacao-content">
        <div class="row">
          <div class="col-sm-2">
            <ul id="game-action">
              <li class="active" data-id="moedas"><img src="../../assets/img/game-moedas.png" alt=""></li>
              <li data-id="experiencia"><img src="../../assets/img/game-exp.png" alt=""></li>
              <li data-id="medalhas"><img src="../../assets/img/game-medalha.png" alt=""></li>
            </ul>
          </div>
          <div class="col-sm-5">
            <div id="game-content">
              <div id="game-moedas" class="game-item active">
                <h3>Moedas</h3>
                <p>Cada hackathon libera uma quantidade de moedas definida pelos criadores do evento. As moedas virtuais são trocadas por materiais e cursos dentro da plataforma.</p>
                <p><i class="fa fa-money text-green"></i>MultiCoins - Servem para serem trocadas por materiais disponibilizados pela Multi e por descontos em cursos extracurriculares oferecidos pelas faculdades parceiras que se disporem.</p>
                <p><i class="fa fa-diamond text-red"></i>GoldCoins - Servem para serem trocadas por descontos em cursos diretamente da faculdade que criou o desafio, tendo um peso maior que as MultiCoins.</p>
              </div>
              <div id="game-experiencia" class="game-item">
                <h3>Experiência</h3>
                <p>A interação dentro da plataforma gera pontos de experiência para seu perfil, criando assim uma espécie de rankeamento entre os usuários. Exemplos: participar de hackathons, comprar materiais e cursos, etc.</p>
              </div>
              <div id="game-medalhas" class="game-item">
                <h3>Vitórias</h3>
                <p>Além de prêmios que são oferecidos pelas instituições para os vitoriosos do desafio, a plataforma presenteia seu perfil com medalhas virtuais de três tipos: ouro, prata e bronze. A quantidade de medalhas recebida é exibida em seu perfil.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <img id="game-destaque" src="../../assets/img/game-destaque.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="home-blog" class="listagem">
    <div class="container">
      <h2 class="title">Blog</h2>
      <h3 class="sub-title">Conheça mais sobre o mundo de hackathons</h3>

      <div class="row">
        <ul class="list-post">
          <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
            <figure>
              <img src="../../assets/img/banner-post-hackathon.jpg" alt="" />
              <div class="day">
                <strong>15</strong>
                <span>Jan</span>
              </div>
            </figure>
            <h3>O que é Hackathon?</h3>
            <p>Hackathon é um evento que reúne programadores, designers e outros profissionais ligados ao desenvolvimento de software para uma maratona...</p>
            <div class="visitantes">
              <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
              <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
            </div>
          </li>
          <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
            <figure>
              <img src="../../assets/img/banner-curso-ambev.jpg" alt="" />
              <div class="day">
                <strong>15</strong>
                <span>Jan</span>
              </div>
            </figure>
            <h3>Na competição, a Ambev desafia jovens a criar soluções para...</h3>
            <p>Encontrar novas soluções para melhorar a experiência de consumidores de cerveja é o desafio da terceira...</p>
            <div class="visitantes">
              <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
              <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
            </div>
          </li>
          <li [routerLink]="['/blog/o-que-e-hackathon']" class="col-md-4">
            <figure>
              <img src="../../assets/img/banner-curso-jam.jpg" alt="" />
              <div class="day">
                <strong>15</strong>
                <span>Jan</span>
              </div>
            </figure>
            <h3>Experiance JAM II – A segunda edição do hackathon da Serasa Experian</h3>
            <p>A Serasa Experian, em parceria com a Simplez, vai realizar a 2ª edição do...</p>
            <div class="visitantes">
              <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
              <span><i class="fa fa-commenting" aria-hidden="true"></i>17</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="row flex-row">
        <a id="ver-mais" [routerLink]="['/blog']" class="btn-action green">VER MAIS</a>
      </div>
    </div>
  </section>

</main>
