<div class="listagem">
  <div class="container">
    <h1 class="title">Shopping</h1>
    <h2 class="sub-title">Conheça mais sobre o mundo de hackathons</h2>

    <ul class="list-post">
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>INTERNET DAS COISAS PARA TODOS</h3>
        <p>Se você já ouviu falar em Internet das Coisas e não sabe ainda como aproveitar as infinitas oportunidades de negócios nos próximos anos, este workshop...</p>
        <div class="visitantes">
          <span><i class="fa fa-eye" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-design-thinking.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Design Thinking</h3>
        <p>Desenvolver um processo intencional com metodologias para se chegar ao novo, a soluções criativas, criar impactos positivos e surpreender. Design...</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
      <li [routerLink]="['/shopping/internet-das-coisas-para-todos']" class="col-md-4">
        <figure>
          <img src="../../assets/img/banner-curso-big-data.jpg" alt="" />
          <div class="day">
            <strong>15</strong>
            <span>Jan</span>
          </div>
        </figure>
        <h3>Big Data</h3>
        <p>No universo emergente de tecnologias relacionadas ao Big Data, destaca-se um novo papel de extrema relevância: o cientista de dados (Data Scientist).</p>
        <div class="visitantes">
          <span><i class="fa fa-users" aria-hidden="true"></i> 542</span>
        </div>
      </li>
    </ul>
  </div>
</div>
